<div class="sidebar">

	<div class="container sidebar-sticky">

		<h1>
			<a href="{{ site.baseurl }}">
				<span style="font-family: 'Abril Fatface';">AI</span><span style="font-size: 1.5rem;">with</span><span style="font-family: 'Cookie'; font-size: 4.5rem;">Swift</span>
			</a>
		</h1>

		<img src="/public/bird.png">

		<p class="lead">
			{{ site.description }}
		</p>

		<a href="/About">
			<button>
				The Book&ensp;
				<i class="fa fa-book"></i>
			</button>
		</a>

		<p>
			&copy; {{ site.time | date: '%Y' }}. All rights reserved.
		</p>

	</div>
</div>
