---
---
/* $background-color: #1D1D1D;
$text-color: #E6E6E6;
$grey-color-light: #565656;
$grey-color-dark: #ADADAD; */

$brand-color:  #BA0C2F;

@import "{{ site.theme }}";

/* Overall changes */
.maxwidth-container {
	width: 100%;
	text-align: center;
}

a:visited {
    color: #E4002B;
}

a:hover {
    color: inherit;
}

/* Author page headshots */
.rightalignheadshot {
	display: inline-block;
	width: 40%;
	padding: 0 0 2em 2em;
}

.leftalignheadshot {
	display: inline-block;
	width: 40%;
	padding: 0 2em 2em 0;
}

.postimage {
	width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.center-mid {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 50%;
}

.center-small {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 30%;
}

button {
	color: white;
	background-color: $brand-color;
	text-decoration: none;
	border-width: 0px;
	border-radius: 4px;
	padding: 12px 20px;
	margin: 0px 0px 8px 0px;
	font-size: inherit;
	font-weight: bold;
}

button:hover {
	background-color: lighten($brand-color, 15%);
}

/* Author page icons */
.fontawesome-container {
	text-align: center;
	padding: 0 0 20px 0;
}

.fontawesome-container a:hover {
	color: #E4002B;
}

.fontawesome-container a {
	font-size: 250%;
}
