---
---
/* $background-color: #1D1D1D;
$text-color: #E6E6E6;
$grey-color-light: #565656;
$grey-color-dark: #ADADAD; */

$brand-color:  #ED5837;

@import "{{ site.theme }}";

/* Overall changes */
.maxwidth-container {
	width: 100%;
	text-align: center;
}

/* Author page headshots */
.headshot {
	display: inline-block;
	max-width: 20%;
	max-height: 20%;
}

.headshot img {
	border-radius: 100% !important
}

button {
	color: white;
	background-color: $brand-color;
	border-width: 0px;
	border-radius: 4px;
	padding: 12px 20px;
	margin: 0px 0px 8px 0px;
	font-size: inherit;
	font-weight: bold;
}

/* Author page icons */
.fontawesome-container {
	text-align: center;
}

.fontawesome-container a {
	font-size: 250%;
}

.fontawesome-container a:hover {
	color: lighten($brand-color, 25%);
}
